html, body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
.app-container{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.app-container > header {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.app-container .middle-container {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
}

.middle-container .sidebar {
  width: 250px;
  background: #333;
  color: white;
}

.middle-container .content-area {
  padding: 20px;
  flex:1;
}